<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>Add</servlet-name>
        <servlet-class>Servlet.Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getTrainData</servlet-name>
        <servlet-class>Service.getTrainData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getMyTicket</servlet-name>
        <servlet-class>Service.getMyTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserData</servlet-name>
        <servlet-class>Service.getUserData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addReserv</servlet-name>
        <servlet-class>Service.addReserv</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Add</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getTrainData</servlet-name>
        <url-pattern>/getTrainData/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getMyTicket</servlet-name>
        <url-pattern>/getMyTicket/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserData</servlet-name>
        <url-pattern>/getUserData/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addReserv</servlet-name>
        <url-pattern>/addReserv/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
